

// Color scheme
$color-white: #fff;
$color-blue: #0e5beb;
$color-black: #000000;

// Typography
$ff-montserrat: 'Montserrat', sans-serif;

// Font weigth
$fw-regular: 400;
$fw-bold: 600;
$fw-black: 900;

//Font sizes
$fs-xx-large: 30px;
$fs-x-large: 20px;
$fs-large: 18px;
$fs-medium: 16px;
$fs-small: 14px;
$fs-x-small: 12px;
