.navigation {
    grid-area: nav;
    font-size: 24px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid gray;
    

    &__logo {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        
    }
    &__deploy {
        display: inline-block;
        text-align: right;
    }
    &__input {
        border-radius: 30px;
    }
}
ul{
    list-style:none
}
a {
    text-decoration: none;
    text-transform: uppercase;    
}
