* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: " nav nav nav nav" "test test test aside" "test test test aside" "news news news news" "footer footer footer footer";
}

body {
  font-family: "Montserrat", sans-serif;
}

.newsletter__button {
  color: white;
  background-color: orange;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 6rem;
  height: 2rem;
}

.navigation {
  grid-area: nav;
  font-size: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid gray;
}
.navigation__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.navigation__deploy {
  display: inline-block;
  text-align: right;
}
.navigation__input {
  border-radius: 30px;
  width: 100px;
}

ul {
  display: flex;
  list-style: none;
}

li + li {
  padding: 0 5px 0 5px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(63, 136, 231, 0.897);
}

@media screen and (max-width: 576px) {
  .navigation__us {
    display: none;
  }
}

.main-cards {
  grid-area: test;
  background-color: #fff;
  display: grid;
  gap: 5px;
  column-gap: 15px;
  padding-left: 30px;
  grid-template-areas: " card1 card2 card3" "card4 card5 card6";
}
.main-cards__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-cards__container--1 {
  grid-area: card1;
}
.main-cards__container--2 {
  grid-area: card2;
}
.main-cards__container--3 {
  grid-area: card3;
}
.main-cards__container--4 {
  grid-area: card4;
}
.main-cards__container--5 {
  grid-area: card5;
}
.main-cards__container--6 {
  grid-area: card6;
}
.main-cards__container--body img {
  width: 100%;
  max-height: 350px;
}
@media screen and (max-width: 768px) {
  .main-cards__container--3, .main-cards__container--6 {
    display: none;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .main-cards__container {
    display: flex;
  }
  .main-cards__container h2, .main-cards__container--body {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .main-cards {
    padding-right: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .main-cards {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-bottom: 1rem;
  }
}
.main-cards h2 {
  font-size: 20px;
  font-weight: 900;
}
.main-cards p {
  text-align: justify;
  margin-left: 5%;
  padding-top: 1rem;
}

.aside {
  grid-area: aside;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 300px;
  padding: 0 40px 10px 15px;
}
.aside p {
  padding: 10px 0 10px 0;
}
.aside ul {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
}
.aside__tags--list {
  background-color: orange;
}
.aside__tags--list + .aside__tags--list {
  margin-left: 10px;
}
.aside__about, .aside__tags {
  border-bottom: 2px solid gray;
}
.aside__about, .aside__tags, .aside__highlight, .aside__highlight-card > h4 {
  padding: 10px 0 10px 0;
}
.aside__highlight {
  padding: 10px 0 10px 0;
}
.aside__img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .aside {
    display: none;
  }
}

.footer {
  grid-area: footer;
  background-color: #000000;
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.newsletter {
  grid-area: news;
  background-color: bisque;
  text-align: center;
  padding: 1rem;
}
.newsletter__title {
  font-weight: 900;
  font-size: 20px;
}
.newsletter__input > input, .newsletter __button {
  display: inline-block;
}
.newsletter__input > input {
  color: gray;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 12rem;
  height: 2rem;
  padding-left: 8px;
}

/*# sourceMappingURL=styles.css.map */
